@import "variables";

/**
 * Layout
**/

.layout {
  display: grid;
  grid-column-gap: 0;
  grid-template-columns: 75px auto;
  width: 100%;
  position: relative;

  .left-panel {
    background: #fff;
    grid-column: 1;
  }

  .main {
    grid-column: 2;
    padding: 25px 10px;
    width: 100%;
  }

  .right-panel {
    grid-column: 3;
    height: 100vh;
    position: sticky;
    top: 0;
    flex-grow: 1;
    display: none;

    .container {
      width: calc(100% + 20px);
      padding: 25px;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    @media (min-width: 800px) {
      display: block;
    }
  }
  @media (min-width: 800px) {
    grid-template-columns: 75px auto 25vw;
  }
}

.side-panel {
  width: 90vw;
  height: 100%;

  > * {
    width: 100%;
    padding: 25px;
    height: 100%;
  }

  @media screen and (min-width: 800px) {
    width: 25vw;
  }
}

.fab-wrapper {
    position: fixed;
    top:10px;
    right:10px;
    z-index:9999;

    @media screen and (min-width:800px) {
        display:none;
    }
}