@import "variables";

// Cards

.card {
    padding: 15px 20px;
    box-shadow: $boxShadow;
    border-radius: 15px;
    background-color: #fff;
}

// Buttons

.btn-dark {
    color: #fff !important;
}

.back-arrow {
    color: $mainColor;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    svg {
        margin-right: 5px;
    }
}

// Timestamp

.timestamp {
    display: flex;
    align-items: center;
    color: $secondaryTextColor;

    .MuiSvgIcon-root {
        margin-right: 5px;
    }
}
