//Colors
$mainColor:#F9A109;
$backgroundColor:#fafafe;
$backgroundSecondaryColor:#FFF0DE;

$burgundy:#80485B;


$alertColor:#EB5757;
$validatedColor:#56CCF2;

$textColor:#454545;
$secondaryTextColor:#C1C1C4;



$boxShadow:rgba(0,0,0,.3) 5px 5px 5px;


.text-main-color {
    color:$mainColor;
}